:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --foreground-color: #202020;
    --dim-foreground-color: dimgray;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #202020;
    --foreground-color: #eaeaea;
    --dim-foreground-color: lightgray;
  }
}

body {
  margin: auto;
  max-width: 80ch;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: monospace;
  font-size: 14px;
}

table:is(.head, .foot) {
  width: 100%;
  color: var(--dim-foreground-color);
}

table:is(.head, .foot) tr {
  display: flex;
  justify-content: space-between;
}

.manual-text {
  padding-inline: 4ch;
}

p {
  text-align: justify;
}

pre {
  text-wrap: wrap;
  overflow-wrap: break-word;
}

ul {
  list-style: "- ";
  padding-inline-start: 2ch;
}

dd {
  margin-block-end: 2ex;
}

.Bd {
  color: var(--dim-foreground-color);
}

.Bd-indent {
  padding-inline-start: 4ch;
}

.Ar, .Pa {
  font-style: italic;
}

.Cm, .Ev, .Fl, .Ic, .Nm, .Xr {
  font-weight: bold;
}
